<!-- File: /app/View/Posts/add.ctp -->
<h1>Add Post</h1>




<?php
//
echo
$this->Form->create('User');
echo
$this->Form->input('title');
echo
$this->Form->input('body',
array
('rows' => '3'));
echo
$this->Form->end('Save Post');
?>

<fieldset>
<?php 
echo $this->Html->link( "Logout",   array('action'=>'logout') ); 
?>

</fieldset>