<!-- File: /app/View/Posts/index.ctp -->

<p><?php echo $this->Html->link('Add Post',array('controller' => 'posts', 'action' => 'add'));?><p>

<table>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Created</th>
		</tr>
			
			<?php foreach ($users as $user): ?>
	<tr>
			<td><?php echo $user['User']['id']; ?> </td>

			

			<td><?php echo $user['User']['title'];?></td>

			<td><?php echo $user['User']['created'];?></td>
	</tr>
	<?php endforeach ; ?>
</table>

<fieldset>
<?php 
echo $this->Html->link( "Logout",   array('action'=>'logout') ); 
?>

</fieldset>
