<?php
?>
<!-- File: /app/View/Posts/index.ctp -->


<p><?php echo $this->Html->link('Add Post',array('controller' => 'posts', 'action' => 'add'));?><p>
	


<fieldset>	

<table>
	<tr>
		<th>Iddddd</th>
		<th>22222222</th>
		<th><?php 

			$sessionid=$this->Session->read('id');
			if($sessionid == 0)
			echo 'Action';?> </th>
		<th>Created</th>
		</tr>
			
			<?php foreach ($users as $user): ?>   
	<tr>
			<td><?php echo $user['User']['id']; ?> </td>
			<td><?php echo $user['User']['title'];?></td>
			<td><?php 
			$sessionid=$this->Session->read('id');
			$sessionuid=$this->Session->read('uid');

			if($sessionid == 0 || $sessionuid ==  $user['User']['creater'])
			echo $this->Form->postLink( ' Delete  ', array ('action' => 'delete', $user['User']['id']),array('confirm' => 'Are you sure?'));

			?>
				<?php
				$sessionid=$this->Session->read('id');
				$sessionuid=$this->Session->read('uid');

				if($sessionid == 0 || $sessionuid ==  $user['User']['creater'] )
				 echo  $this->Html->link( '--Edit', array ('action' => 'edit', $user['User']['id']) ); ?></td>
			<td><?php echo $user['User']['created'];?></td>
	</tr>
	<?php endforeach ; ?>
</table>

</fieldset>
<a href="Posts/logout"> <i class='fas fa-sign-out-alt fa-3x'></i></a>

<?php 
//echo $this->Html->link( "<i class='fas fa-sign-out-alt'></i>" ,   array('action'=>'logout') ); 

?>

