<!-- File: /app/View/Posts/view.ctp -->
<h1><?php echo h($users['User']['title']);?> </h1>
<p><small>Created:
<?php echo $users['User']['created']; ?> //////////////////////////////
</small></p>
<p>
<?php echo h($users['User']['body']); ?>
</p>